* {
  font-family: "Noto Sans", sans-serif; /* Your font’s name */
  margin: 0;
  padding: 0;
}

body {
  font-size: small;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#control_panel {
  color: white;
  position: absolute;
  display: flex; /* Enable Flexbox layout */
  flex-direction: column; /* Stack items vertically */
  gap: 0.5rem; /* Space between each slider */
  padding: 20px; /* Padding around the container */
  width: 340px; /* Set container width */
  border-radius: 0 0 10px 0;
  background-color: rgba(255, 255, 255, 0.05); /* Light background color */
  flex-shrink: 0;
}

#control_panel > span {
  font-size: 1.2rem;
  font-weight: bold;
}

#control_panel > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#control_panel > div > .slider_label {
  width: 100px;
}
