body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

canvas {
  margin: 0;
  display: block;
  width: 100vw;
  height: 100vh;
}

#control_panel {
  position: absolute;
  display: flex; /* Enable Flexbox layout */
  flex-direction: column; /* Stack items vertically */
  gap: 2px; /* Space between each slider */
  padding: 20px; /* Padding around the container */
  width: auto; /* Set container width */
  background-color: rgba(255,255,255,10); /* Light background color */
  border-radius: 4px; /* Rounded corners for the container */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */ */
}

#control_panel > span {
    font-size: 1.5rem;
}
